# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ronaz\Downloads\Study\2DV608 Software Design\Assignment 3\Retake 2\Scratch 1\JMines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
